/*
@font-face{
  font-family: 'Charmonman';
  src: url('../fonts/Charmonman-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Charmonman';
  src: url('../fonts/Charmonman-Bold.ttf') format('turetype');
  font-weight: bold;
  font-style: normal;
}
*/